{% extends "base.html" %}

{% block content %}
    <h2>Publishing {{ object_type_name|capfirst }} "{{ object }}"</h2>
    
    {% if publication_formset.forms %}
        <p>This {{ object_type_name }} will be published in the following places:</p>
        <form id="publish_form" method="post">
            {{ publication_formset.management_form }}
            <table>
                {% for form in publication_formset.forms %}
                <tr>
                    <th>{{ form.publish.label_tag }}</th>
                    <td>
                        {{ form.publish }}
                        {{ form.type }}
                        {{ form.id }}
                    </td>
                </tr>
                {% endfor %}

                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td><td><input type="submit" value="Publish {{ object_type_name|capfirst }}" /></td></tr>
            </table>
        </form>
    {% else %}
        <p>You do not have permission to publish this {{ object_type_name }} anywhere.</p>
    {% endif %}
{% endblock %}