{% extends "base.html" %}

{% block content %}
    <h2>Publishing "{{ object }}"</h2>
    
    {% if publication_formset.forms %}
        <p>This object will be published in the following places:</p>
        <form method='POST'>
            {{ publication_formset.management_form }}
            
            <table>
            {% for form in publication_formset.forms %}
                {{ form }}
            {% endfor %}
            
            {{ datetime_form }}
            </table>
            
        </form>
    {% else %}
        <p>You do not have permission to publish "{{ object }}" anywhere.</p>
    {% endif %}
{% endblock %}